<h1>MarketPlace</h1>

<h3>Categorias</h3>

<% @product_categories.each do |product_category| %>
  <%= link_to product_category.name, product_category %>
<% end %>

<% if @product_categories.empty? %>
  <h5>Nenhuma categoria cadastrada</h5>
<% end %>